.aboutme-container {
    display:flex;
    flex-direction: row;
    gap: 8px;
}

.me {
    width: 40%;
    border-radius: 16px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 8px;
    float: right;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .aboutme-container {
        flex-direction: column;
        gap: 12px;
    }
}