.calculator-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.calculator-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 3px solid var(--color-primary);
    border-radius: 22px;
    padding: 15px;
    background-color: var(--color-bg);
    transition: 0.3s;
    box-shadow: 0px 6px 0px 2px rgba(0, 0, 0, 0.1);
}

a.calculator-link {
  text-decoration: none;
  color: inherit;
  display: block; 
}

.calculator-item:hover {
    background-color: var(--color-bg-soft);
    box-shadow: 0px 8px 0px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
}

.calculator-name {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primary);
}

.calculator-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calculator-image img {
    max-width: 75%;
    filter: drop-shadow(10px 8px 0 var(--color-primary));    
}

@media screen and (max-width: 768px) {
    .calculator-list {
        grid-template-columns: 1fr;
    }
    
    .calculator-image img {
        max-width: 100%;
    }

    .aboutmeimg {
        flex-direction: column-reverse;
    }

}